<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">

  <div class="mdl-layout__header-row">
    <h3>Les plus belles chèvres</h3>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a [routerLink]="'/'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" class="mdl-layout__tab">Accueil</a>
    <a [routerLink]="'/contact'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" class="mdl-layout__tab">Contact</a>
  </div>
</header>
